* {
    margin: 0;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}

h1,h2,h3,h4 {
    margin: 0;
}

img {
    width: 100%;
}


header {
    background: #333;
    //display: none;
}

header a {
    color: #fff;
} 

#top {
    background: #ccc;

}

.section-top-inner {
    position: relative;
    animation: fadein 1.2s ease-in;
}

@keyframes fadein{
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0);
    }

}

.title {
    width: 330px;
    position: absolute;
    top:10px;
    right: 10px;
    background: #fff;
    animation: fadein-title 3s ease-in;
    text-align: center;
}

.title span {
    font-size: 10px;
}

@keyframes fadein-title {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}


#top .img-wapper{
    width: 100%;
}




#about {
    background: #333;

}


#work {
    background: #ddd;

}

.section-work-inner {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.site-title {
    text-align: left;

}

.sec-title {
    padding: 30px;
}


#blog {
    background: #aaa;
}

.section-blog-inner {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 150px;
}


.blog-2col-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:760px ;
}

.blog-card {
    width: 370px;
    background: #ddd;
    margin:0 10px 10px 0;
}
.blog-title {
    text-align:left;
    padding: 10px;
}

.blog-txt {
    text-align: left;
    padding: 10px;
}

.article-aside-wrapper {
    display: flex;
}


.sidebar {
    width: 200px;
    background: #ebdc62;
    margin-left: 10px;
}

footer {
    background: #ebdc62;
    text-align: center;
}

.footer-img-wrapper {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    clip-path: circle(40%);
}

